@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

.spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #ff00cc 0%, #333399 100%);
  animation: spin 0.5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Login */

.login {
  padding-top: 100px;
}

.content {
  margin: 10%;
  background-color: #fff;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.signin-text {
  font-style: normal;
  font-weight: 600 !important;
}

.form-control-login {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: #21275f !important;
  border-style: solid !important;
  border-width: 0 0 1px 0 !important;
  padding: 0px !important;
  color: #495057;
  height: auto;
  border-radius: 0;
  background-color: #fff;
  background-clip: padding-box;
}

.form-control-login:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

.btn-class {
  border-color: #21275f;
  color: #21275f;
}

.btn-class:hover {
  background-color: #21275f;
  color: #fff;
}

/* End Login */

/* Color */
.bg-ku {
  background-color: #21275f !important;
}
/* End Color */

/* Category */
.bi-folder-fill {
  color: #f6a412;
}

.list-group a {
  text-decoration: none;
}
.list-group a:hover {
  background-color: #21275f !important;
  color: white;
}

.list-group-item:hover {
  background-color: #21275f !important;
  color: white;
}

.h5-bg {
  background-color: #21275f !important;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.img-category {
  border-radius: 5px;
  margin-left: 5px;
}

/* End Category */

* {
  font-family: "Montserrat", sans-serif;
}
.jumbotron-custom {
  background-color: #21275f !important;
  color: white;
}

.card {
  border-radius: 10px;
}
.card img {
  border-radius: 10px 10px 0 0;
}

.nav-custome:hover {
  background-color: #21275f !important;
  color: white;
}

.footer-custom {
  background-color: #21275f;
  color: white;
}

.bi-facebook {
  font-size: 20px;
  color: #4645c7;
}
.bi-instagram {
  font-size: 20px;
  color: #4645c7;
}
.bi-whatsapp {
  font-size: 20px;
  color: #4645c7;
}
.bi-github {
  font-size: 20px;
  color: #4645c7;
}
.bi-telegram {
  font-size: 20px;
  color: #4645c7;
}

hr {
  background-color: grey;
}

.medsos-icon {
  background-color: thistle;
  padding: 10px;
  border-radius: 5px;
}
.medsos-icon:hover {
  box-shadow: 2px 0px 5px white;
  background-color: #4645c7;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.btn-custom {
  background-color: thistle;
  padding: 5px;
  color: #4645c7;
}

.btn-custom:hover {
  box-shadow: 2px 0px 5px white;
  background-color: #4645c7;
  color: white;
  padding: 5px;
}

.btn-custom a:hover {
  text-decoration: none !important;
}

.right {
  float: right !important;
}

.card:hover {
  box-shadow: 10px 10px 5px whitesmoke;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21275f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4645c7;
}
